# Template: Import Libaries

Following Data2 Insights Tutorial to set it up

[Video Version ](https://www.youtube.com/watch?v=-Jq0Qb39YPk)

[Text Version](https://www.datatoinsight.org/jupyterlite-setup)

In [5]:
import piplite

await piplite.install('numpy')
await piplite.install('pandas')
await piplite.install('seaborn')

import numpy as np
import pandas as pd
import seaborn as sns

## Test Libary

In [6]:
data= pd.read_csv('data/iris.csv')

data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa